* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .light {
    background: #f8f8f8;
    color: #29292e;
  }
  .dark {
    background: #29292e;
    color: #f8f8f8;
  }
  .loading {
    justify-content: center;
    align-content: center;
  }
}

body {
  height: 100vh;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}