.question {
  &.light {
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rbga(0, 0, 0, 0.04);
    padding: 24px;

    & + .question {
      margin-top: 8px;
    }

    &.highlighted{
      background: #F4F0FF;
      border: 1px solid #835afd;

      footer .user-info span {
        color: #29292e;
      }
    }

    &.answered {
      background: #DBDCDD;
    }

    p {
      color: #29292e;
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;

      .user-info {
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        span {
          margin-left: 8px;
          color: #737380;
          font-size: 14px;
        }
      }

      > div {
        display: flex;
        gap: 16px;
      }

      button {
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: filter 0.2s;

        &.like-button {
          display: flex;
          align-items: flex-end;
          color: #737380;
          gap: 8px;

          &.liked {
            color: #835afd;

            svg path {
              stroke: #835afd;
            }
          }
        }

        &:hover {
          filter:brightness(0.7);
        }
      }
    }
  };
  &.dark {
    background: #1a1a1d;
    border-radius: 8px;
    box-shadow: 0 2px 12px rbga(0, 0, 0, 0.04);
    padding: 24px;

    & + .question {
      margin-top: 8px;
    }

    &.highlighted{
      background: #29292e;
      border: 1px solid #835afd;

      footer .user-info span {
        color: #F4F0FF;
      }
    }

    &.answered {
      background: #414142;
    }

    p {
      color: #F4F0FF;
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;

      .user-info {
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        span {
          margin-left: 8px;
          color: #c8c2d4;
          font-size: 14px;
        }
      }

      > div {
        display: flex;
        gap: 16px;
      }

      button {
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: filter 0.2s;

        &.like-button {
          display: flex;
          align-items: flex-end;
          color: #737380;
          gap: 8px;

          &.liked {
            color: #835afd;

            svg path {
              stroke: #835afd;
            }
          }
        }

        &:hover {
          filter:brightness(0.7);
        }
      }
    }
  };
}